*{
    padding: 0;
    margin: 0%;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    display: flex;
}

.col{
    flex: 1;
    background: #ccc;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}